db.sqlite3
catalog_app/__pycache__/
catalog_app/management/commands/__pycache__/
catalog_app/migrations/__pycache__/
catalog_app/models/__pycache__/
catalog_app/serializers/__pycache__/
catalog_app/views/__pycache__/
catalog_app_project/__pycache__/
media/blog_images
media/product_images
media/user_images